<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv = "refresh" content = "0; url = https://twitter.com/intent/tweet?text=Check%20out%20my%20cool%20Devcember%20creation%21&hashtags=Devcember%2CDevcember2023" />

    <title>Devcember</title>

    <meta property="og:title" content="Devcember"/>
    <meta property="og:description" content="A yearly event for game developers to practice their artistic gamedev skills and uplift talent in the community. "/>
    <meta property="og:url" content="https://devcember.org"/>
    <meta name="theme-color" content="#4B9EFF" data-react-helmet="true"/>
  </head>
  <body>
		<script>
			window.location = "https://twitter.com/intent/tweet?text=Check%20out%20my%20cool%20Devcember%20creation%21&hashtags=Devcember%2CDevcember2023";
		</script>
	</body>
</html>