<link rel="icon" type="image/x-icon" href="/static/favicon.png">

<meta property="og:title" content="Devcember 2023"/>
<meta property="og:description" content="A yearly event for people to practice their artistic gamedev skills and uplift talent in the community. ❄️"/>
<meta property="og:url" content="https://devcember.org"/>
<meta property="og:image" content="/images/CoverLogo.png"/>
<meta name="theme-color" content="#79c9ff" data-react-helmet="true"/>

<meta name="description" content="A yearly event for people to practice their artistic gamedev skills and uplift talent in the community. ❄️">

<meta name="darkreader-lock">