:root {
  
}

#paige-authors,
#paige-collections,
#paige-credit,
#paige-keywords,
#paige-reading-time,
#paige-series,
#paige-toc,
.paige-authors,
.paige-date,
.paige-keywords,
.paige-reading-time,
.paige-series,
#paige-pages,
#paige-metadata,
.paige-summary {
    display: none;
}

#paige-breadcrumbs {
  display: none;
}

img {
  width: 100%;
}

body {
  background-image: url(/images/Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#paige-root {
  background-color: #1f2125;
  width: 100%;
  max-width: 800px;
}